@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #242424;
}

h1{
    color: skyblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* 300 => lighter */
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    /*letter-spacing: 10px;*/
    word-spacing: 10px;
}

a{
    text-decoration: none;
    color: skyblue;
}

.principalTitle{
    color: peru;
}

#principalTitle{
    color: green;
}